.item__container {
  display: grid;
  gap: 2rem;

  grid-template-columns: 5rem auto;
  margin-bottom: 3rem;
  align-items: center;
}

.item__indicator_container {
  display: flex;
  justify-content: flex-end;

  color: white;
  transition: all 330ms ease-in-out;

  position: relative;
}

.indicator__word {
  position: absolute;
  top: 19%;
  left: 40%;

  z-index: 1;
}

.indicator__word_active {
  position: absolute;
  z-index: 1;

  top: 33%;
  left: 40%;
}

.indicator__box_word {
  background-color: #3c2e3d93;
  display: inline-block;

  width: 4rem;
  height: 2.3rem;

  transition: all 330ms ease-in-out;

  border-radius: 15px;
}

.indicator__box_word_active {
  width: 4rem;
  height: 4rem;
  background-color: #49a5a2;

  transform: rotate(45deg);
  border-radius: 100%;
  z-index: 0;
}

.indicator__num {
  position: absolute;
  top: 20%;
  left: 70%;
}

.indicator__num_active {
  position: absolute;
  z-index: 1;

  top: 28%;
  left: 69%;
}

.indicator__box_num {
  background-color: #3c2e3d93;
  display: inline-block;

  width: 2.5rem;
  height: 2.3rem;

  transition: all 330ms ease-in-out;

  border-radius: 5px;
}

.indicator__box_num_active {
  background-color: #49a5a2;

  width: 2.5rem;
  height: 2.5rem;

  transform: rotate(45deg);
  z-index: 0;
}

.item__box {
  background-color: white;

  border: 2px solid rgba(128, 128, 128, 0.363);
  border-radius: 10px;
  padding: 15px 20px;
  box-shadow: 0px 10px 20px rgba(128, 128, 128, 0.212);

  width: 25rem;
  max-width: 25rem;

  cursor: pointer;
}

.item__label {
  font-size: 1.03rem;
  font-weight: 500;
  margin-bottom: 0.1rem;
}

.item__desc {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.692);
}

.item__box_active {
  border: 3px solid #49a5a2;
  box-shadow: 0px 10px 10px rgba(128, 128, 128, 0.322);
}
