.line__active {
  grid-column: 1/-1;
  justify-self: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.line__inActive {
  grid-column: 1/-1;
  justify-self: center;
}

.arrow__down {
  opacity: 0.6;
  width: auto;
  height: 2rem;
}

.arrow__down_add {
  opacity: 0.6;
  width: 2rem;
  height: 4rem;
}

.line__start {
  transform: rotate(90deg);
  width: auto;
  height: 2rem;

  opacity: 0.6;
}

.arrow__short {
  /* transform: rotate(90deg); */
  width: auto;
  height: 1.5rem;

  opacity: 0.6;
}

.add__item {
  width: 1.5rem;
  height: auto;
}

.add__container {
  background-color: rgba(255, 255, 255, 0.63);
  border-radius: 100%;
  border: 3px solid #49a5a2;
  padding: 0;
  transition: all 100ms ease-in-out;

  cursor: pointer;
}

.add__container:hover {
  padding: 2px;
  background-color: white;
}

.add__container_hidden {
  opacity: 0;
}
