.container__main {
}

.criteria__field {
  display: flex;
  flex-direction: column;
}

.field__options {
  font-size: 1.1rem;
  width: 100%;
  height: 2.5rem;
}

.field__option {
  background-color: antiquewhite;
}
